@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

:root {
  --background: #121212;
  --font-serif: "Lora", serif;
  --font: "IBM Plex Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  color: white;
  font: 112.5%/1.45em IBM Plex Sans, sans-serif;
}

body {
  background: var(--background);
}

.content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template:
    60px
    200px
    1fr
    / 1fr 400px;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;

  grid-template-areas: "header header" "timeline timeline " "map stats ";
}

svg text {
  fill: currentColor;
}

.header,
.map,
.timeline,
.stats {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;

  overflow: hidden;
}

.header {
  grid-area: header;
  border-radius: 0 0 8px 8px;
  justify-content: flex-start;
  font-family: var(--font-serif);
  font-weight: 600;
}

.map {
  grid-area: map;
}

.timeline {
  grid-area: timeline;
}

.stats {
  grid-area: stats;
}

* {
  box-sizing: border-box;
}

.box {
  border-radius: 16px;
  display: flex;

  color: white;
  font-family: sans-serif;
  font-size: 1.4rem;

  align-items: center;
  justify-content: center;
}

/* Dark Theme elevation definitions from:
  shadows: https://gist.github.com/serglo/f9f0be9a66fd6755a0bda85f9c64e85f
  background: https://material.io/design/color/dark-theme.html#properties
*/

.dp-0 {
  box-shadow: none;
}

.dp-1 {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.dp-2 {
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dp-3 {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.dp-4 {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.dp-6 {
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.dp-8 {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.dp-12 {
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
}

.dp-16 {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.dp-24 {
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
