.map path.nation {
  stroke: var(--background);
  fill: none;

  stroke-width: 1.25px;
  stroke-linejoin: round;
}

.map path.state {
  stroke: var(--background);
  /* fill: #fdc08622; */

  stroke-width: 0.5px;
  stroke-linejoin: round;

  transition: fill-opacity 250ms ease-out;
  cursor: pointer;
}

.map path.state:hover {
  /* fill: #fdc086; */
  /* fill-opacity: 0; */
}

.map .spike {
  stroke: orange;
  stroke-width: 2px;
  pointer-events: none;
}
